.photo {
  max-width: 100%;
  display: block;
  margin: 0;
  border: none;
  padding: 0;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.span {
  margin: 0 5px;
  padding: 5px 10px;
  text-decoration: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #333;
  transition: background-color 0.3s;
}

.pagination a {
  text-decoration: none;
  color: #718096;
}

.pagination a:hover {
  background-color: #f0f0f0;
}
